
<div class="py-3">
  <div class="container py-5">
    <h3 class="mb-3 col-11 offset-1">管理者ログイン</h3>
        <%= form_with model: @admin, url: admin_session_path, method: :post,class: "col-10 offset-2" do |f| %>
          <div class="row　py-3 mb-4">
          <div class="form-inline">
            <%= f.label :メールアドレス, class: "col-3 ml-0"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-9" %>
          </div>
          </div>
          <div class="row　py-3 mb-4">
            <div class="form-inline">
              <%= f.label :パスワード, class: "col-3 ml-0"%>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-9" %>
            </div>
          </div>
          <div class="offset-sm-4 col-sm-4">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
          </div>
        </div>
        <% end %>
        <%= render "admin/shared/links" %>
  </div>
</div>

