<div class="container">
  <div class="row py-4 mt-3 col-11 offset-1 ">
    <h3 class="bg-light px-4">
      <%= @customer.last_name + @customer.first_name %>の会員詳細
    </h3>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div>
      <label>会員ID</label>
      <%= @customer.id %>
      </div>
      <div>
        <label>氏名</label>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </div>
      <div>
        <label>フリガナ</label>
        <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </div>
      <div>
      <label>郵便番号</label>
      <%= @customer.postal_code %>
      </div>
      <div>
      <label>住所</label>
      <%= @customer.address %>
      </div>
      <div>
      <label>電話番号</label>
      <%= @customer.telephone_number %>
      </div>
      <div>
      <label>メールアドレス</label>
      <%= @customer.email %>
      </div>
      <div>
        <label>会員ステータス</label>
        <%= @customer.is_deleted ? '退会' : '有効' %>
      </div>
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-success" %>
      <%= link_to '注文履歴一覧を見る', admin_root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>