<div class="container py-5">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5">注文情報入力</h3>
    </div>
  </div>

  <div class="form-group">
    <%= form_with model: @order, url: "/orders/confirm", local: true do |f| %>

    <!--支払方法選択-->
    <div class="form-grop mb-3">
      <h4 class="col-2 font-weight-bold">支払方法</h4>
      <div class="col-3 ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>

    <!--お届け先選択-->
      <h4 class="col-2 font-weight-bold">お届け先</h4>

      <!--会員住所-->
      <div class="col-2 ml-5">
        <%= f.radio_button :select_address, 0 ,checked: true%>
        <%= f.label :select_address, "ご自身の住所"%>
      </div>
      <div class="col-8 offset-1">
        <%= '〒'+@customer.postal_code+''+@customer.address %><br>
        <%= @customer.last_name+@customer.first_name %>
      </div>

      <!--登録済み住所  -->
      <div class="col-3 ml-5">
        <%= f.radio_button :select_address, 1%>
        <%= f.label :select_address, "登録済み住所から選択"%>
      </div>
      <div class="col-8 offset-1">
        <%= f.select :address_id, options_from_collection_for_select(Address.where(customer_id:[current_customer]), :id, :address_displays) %>
      </div>

      <!--新しいお届け先-->
      <div class="col-3 ml-5">
        <%= f.radio_button :select_address, 2 %>
        <%= f.label :select_address, "新しいお届け先"%>
      </div>
      <div class="col-8 offset-1">
        <%= f.label :postal_code, "郵便番号（ハイフン無し）" ,class: "col-4"%>
        <%= f.text_field :postal_code, class: "form_control col-3" %>
      </div>
      <div class="col-8 offset-1">
        <%= f.label :address, "住所", class: "col-4"%>
        <%= f.text_field :address, class: "form_control col-6" %>
      </div>
      <div class="col-8 offset-1">
        <%= f.label :name, "宛名", class: "col-4"%>
        <%= f.text_field :name, class: "form_control col-3" %>
      </div>
      <div class="col-8 ml-auto mt-3">
        <%= f.submit '確認画面へ進む', class: "btn btn-primary px-4"%>
      </div>
    <% end %>
  </div>
</div>