<div class="container py-5">
  <div class="row">
    <%= render 'layouts/genre_tag', genres: @genres %>
    <div class="col-sm-9">
      <h2 class="ml-4 my-4 mx-4"><%= @title + "一覧" %><small>（全 <%= @items_count %> 件）</small></h2>
      <!-- Gallery item -->
      <div class="card-deck">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
          <div class="card mx-0 mr-3 mb-4 item_card" style="width: 12rem;" >
            <div class="bg-white rounded shadow-sm">
              <%= image_tag item.image, class: "item_img card-img-top" %>
              <div class="card-body py-4 px-1">
                <h6 class="card-title text-dark text-wrap text-center"><%= item.name %></h6>
                <p class="card-text small text-muted mb-0 text-center">￥<%= item.add_tax_price %></p>
              </div>
            </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class ="mx-auto mt-4" style="width: 300px;">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>