<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/63389681e0.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-4 border-bottom">
        <div class="container">
          <a class="navbar-brand mr-auto" href="/">
            <span>
              <h2>Nagano
              <i class="fa-solid fa-cake-candles"></i>
              Cake</h2>
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>

                <!--管理者ログイン中-->

                <li class="mr-3">
                  <%= link_to admin_items_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary ">商品一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to admin_customers_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">会員一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to "/about", class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">注文履歴一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to admin_genres_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">ジャンル一覧</button>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">ログアウト</button>
                  <% end %>
                </li>

                <% else %>

                <!--管理者ログイン中の会員ページ-->

                <li class="mr-3">
                  <%= link_to "/about", class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary ">About</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to items_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">商品一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to new_customer_registration_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">新規登録</button>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">ログイン</button>
                  <% end %>
                </li>

                <% end %>
              <% elsif customer_signed_in? %>

              <!--会員ログイン中-->

                <li class="mr-3">
                  <%= link_to customer_path(current_customer), class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary ">マイページ</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to items_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">商品一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to cart_items_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">カート</button>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">ログアウト</button>
                  <% end %>
                </li>

              <% else %>

              <!--管理者・会員 未ログイン-->

                <li class="mr-3">
                  <%= link_to "/about", class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary ">About</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to items_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">商品一覧</button>
                  <% end %>
                </li>
                <li class="mr-3">
                  <%= link_to new_customer_registration_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">新規登録</button>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: "nav-link text-dark" do %>
                    <button type="button" class="btn btn-outline-secondary">ログイン</button>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav ml-auto mr-2">
                <%= search_form_for @search, url: items_path, class: "form-inline" do |f| %>
                  <div class="input-group">
                    <%= f.text_field :name_cont , class: "form-control",placeholder: 'Search' %>
                    <div class="input-group-prepend">
                      <%= button_tag type: "submit", class: "input-group-text" do %>
                        <i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="py-5 bg-light">
        <%= yield %>
      </div>
    </main>
    <div class="container mt-5">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-item-center">
          <a href="/", class="mb-3 me-2 mb-md-0 text-mute text-decoretion-none l">
            <span class="text-muted"><i class="fa-solid fa-cake-candles"></i></span>
            <span class="text-muted">© 2022 NaganoCake</span>
          </a>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="mr-3">
            <a class="text-muted" href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="mr-3">
            <a class="text-muted" href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="text-muted" href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
        </ul>
    </footer>
    </div>

  </body>
</html>
